{% extends "template.html" %} {% block content %}
<div class="content-section">
  <div class="media-body">
    <h3 class="account-heading">What is this website about?</h3>
    <p>
      This website aims to teach you the basics of Java programming. This
      involves learning 3 different types of conditional statements. The program
      uses AI to gauge an understanding of your strengths and weaknesses and
      uses this to assign you task to help you learn the material correctly.
    </p>
  </div>
  <div class="media-body">
    <h3 class="account-heading">How should you complete this course?</h3>
    <p>
      First complete the learning style and the pretest. The learning style test
      will help identify your learning style. Research has shown that people
      learn better using different methods, this program aims to achieve this
      and will assign you the correct formatted content and questions to help
      you learn more efficiently. The pretest is designed to gauge an
      understanding of your current knowledge state, this will help the systme
      understand what questions it has to assign you.
    </p>
  </div>
  <div class="media-body">
    <h3 class="account-heading">What do you need to complete this course?</h3>
    <p>
      The program uses a built-in IDE from Repl, any issues with it you can make
      your own account for free at their
      <a href="https://replit.com/" target="_blank">website</a>.
    </p>
  </div>
  <div class="media-body">
    <h3 class="account-heading">How can you help make this better?</h3>
    <p>
      Any feedback, good or bad, is greatly appreciated, this can be sent
      directly to my email nihad1999@hotmail.co.uk.
    </p>
  </div>
</div>
{% endblock content %}
