{% extends "template.html" %} {% block content %} {% if not q %}
<div class="content-section">
  <h3>You have no tasks to complete at the moment.</h3>
</div>
{% else %}
<div class="content-section">
  <form action="" method="POST">
    <ol>
      {% for i in q %}
      <li>{{ i.title }}</li>
      <li hidden>{{ i.question_type }}</li>
      {% for key in i.content.keys() %}
      <pre
        class="prettyprint"
      ><input type="radio" id="{{ key }}" name="{{ i.id }}" value="{{ key }}" required> {{ i.content[key] }}</pre>
      <br />
      {% endfor %} {% endfor %}
    </ol>
    <input type="submit" value="Submit" />
  </form>
</div>
{% endif %} {% endblock %}
