{% extends "template.html" %} {% block content %} {% if current_user.test_taken
== True %}
<article class="media content-section">
  <div class="media-body">
    <h2>
      <a class="article-title" href="{{ url_for('users.pretest') }}">Pretest</a>
    </h2>
    <p class="article-content">
      Take this test to identify the areas you currently struggle with
    </p>
  </div>
</article>
{% endif %} {% if current_user.learning_style_test_taken == False %}
<article class="media content-section">
  <div class="media-body">
    <h2>
      <a class="article-title" href="{{ url_for('users.learning_style') }}"
        >Learning Style Test</a
      >
    </h2>
    <p class="article-content">
      Take this test to identify your learning style
    </p>
  </div>
</article>
{% endif %}
<article class="media content-section">
  <div class="media-body">
    <h2>
      <a class="article-title" href="{{ url_for('users.compiler') }}"
        >Development Area</a
      >
    </h2>
    <p class="article-content">
      Use this to complete your tasks<br />
      Any issues with this IDE refer to the about page
    </p>
  </div>
</article>
{% if current_user.test_taken == True and current_user.learning_style_test_taken == True %}
<article class="media content-section">
  <div class="media-body">
    <h2>
      <a class="article-title" href="{{ url_for('users.info') }}">Material</a>
    </h2>
    <p class="article-content">
      This will provide you with the material to understand the topics being taught 
    </p>
  </div>
</article>
{% endif %}
<article class="media content-section">
  <div class="media-body">
    <h2>
      <a class="article-title" href="{{ url_for('users.content') }}">Content</a>
    </h2>
    <p class="article-content">
      Questions to help tackle current areas you identify with <br />
      Note. This will be empty until you have completed the Pretest
    </p>
  </div>
</article>

{% endblock %}
