{% extends "template.html" %} {% block content %}

<div class="content-section">
  <form action="" method="POST">
    <ol>
      {% for i in q %}
      <li>{{ i.question }}</li>
      {% for key in i.answers %}
      <pre
        class="prettyprint"
      ><input type="radio" id="{{ key }}" name="{{ i.id }}" value="{{ key }}" required> {{ i.answers[key] }}</pre>
      <br />
      {% endfor %} {% endfor %}
    </ol>
    <input type="submit" value="Submit" />
  </form>
</div>

{% endblock content %}
